header {
    width: 80%;
    margin: auto;
}

#title {
    font-family: 'Inter';
    font-size: 2rem;
    color: #353535;
}


#content{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

#content--card {
    width: 24%;
    display: block;
    margin-bottom: 15px;
}

.content--img {
    width: 100%;
    height: 170px;
}

.review {
    width: 50%;
    height: 10%;
}

.review--img {
    height: 100%;
    width: 19%;
}

.product--info-div {
    width: 100%;
    height: 150px;
    display: block;
    align-content: flex-end;
}

.product--info {
    font-family: 'Inter';
    font-size: 14px;
}

.product--info-parag {
    height: 100px;
}

.product--price-div {
    height: 15px;
}

.product--price {
    width: 100%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
}

button {
    font-family: 'Inter';
    font-size: 15px;
    color: #4970dd;
    font-weight: 600;
    background-color: inherit;
    border: 1px solid #4970dd;
}